<!doctype html>

<html ng-app="hotspotmap">
<!-- Built with Divshot - http://www.divshot.com -->

<head>
    <title>dev places</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="MainCtrl">
<div id="loader" class="container text-center">
    <div>
        ...
    </div>
</div>
<div id="body">
    <header class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="#" class="navbar-brand"><img src="images/logo.png" alt="devplaces" /></a>
            </div>
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search near location" ng-model="search.address">
                    </div>
                    <button type="submit" class="btn btn-default" ng-click="search()" ng-show="!searchDisplayed">Search arround 10km</button>
                    <button type="submit" class="btn btn-danger" ng-click="clearSearch()" ng-show="searchDisplayed">Clear Search</button>
                </form>
                <ul id="navigation" class="nav navbar-nav">
                    <li id="homeNav" ng-click="home()"><a href="#">Home</a></li>
                    <li id="addNav" ng-click="toggleAddForm()"><a href="#">Add Places</a></li>
                    <li id="listNav" ng-click="showNearestLocation()"><a href="#">List</a></li>
                </ul>
            </div>
        </div>
    </header>

    <div id="content" class="container">

        <div id="wrapper">
            {% include 'places/list.html' %}
        </div>

        <section id="add">
            <span class="glyphicon glyphicon-remove-circle cancel" ng-click="closeSection()"></span>
            <form role="form" ng-controller="AddCtrl">
                <div class="form-group">
                    <label for="nameInput">Name</label>
                    <input type="text" class="form-control" id="nameInput" placeholder="Enter Name" ng-model="place.name">
                </div>
                <div class="form-group">
                    <label for="descriptionInput">Description</label>
                    <input type="text" class="form-control" id="descriptionInput" placeholder="Enter place description" ng-model="place.description">
                </div>
                <div class="form-group">
                    <label for="schedulesInput">Schedules</label>
                    <input type="text" class="form-control" id="schedulesInput" placeholder="7:30 - 21:00" ng-model="place.schedules">
                </div>
                <div class="form-group">
                    <label for="capacityInput">Place Capacity</label>
                    <input type="text" class="form-control" id="capacityInput" placeholder="Enter a place capacity" ng-model="place.placesNumber">
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="place.cofee" type="checkbox"> Coffee ?
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input ng-model="place.internetAccess" type="checkbox"> Internet Access ?
                    </label>
                </div>
                <div class="form-group" ng-show="addressDisplayed">
                    <hr />
                    <label for="addressInput">Address</label>
                    <input type="text" ng-disabled="disabled" class="form-control" id="addressInput" placeholder="Enter Address" ng-focus="addressFocusTrigger()" ng-model="place.address">
                </div>
                <div class="form-group" ng-show="addressDisplayed">
                    <label for="townInput">Town</label>
                    <input type="text" ng-disabled="disabled" class="form-control" id="townInput" placeholder="Enter Town" ng-focus="addressFocusTrigger()" ng-model="place.town">
                </div>
                <div class="form-group" ng-show="addressDisplayed">
                    <label for="countryInput">Country</label>
                    <input type="text" ng-disabled="disabled" class="form-control" id="countryInput" placeholder="Enter Country" ng-focus="addressFocusTrigger()" ng-model="place.country">
                    <hr />
                </div>
                <div class="form-group" ng-show="locationDisplayed">
                    <label for="latInput">Latitude</label>
                    <input type="text" ng-disabled="disabled" class="form-control" id="latInput" placeholder="Enter Latitude" ng-focus="locationFocusTrigger()" ng-model="place.latitude">
                </div>
                <div class="form-group" ng-show="locationDisplayed">
                    <label for="lonInput">Longitude</label>
                    <input type="text" ng-disabled="disabled" class="form-control" id="lonInput" placeholder="Enter Longitude" ng-focus="locationFocusTrigger()" ng-model="place.longitude">
                </div>
                <div class="form-group" ng-show="pickupDisplayed">
                    <button type="submit" class="btn btn-success" ng-click="pickTarget()">Pick target on Map</button>
                </div>
                <button type="submit" class="btn btn-default" ng-show="!disabled" ng-click="searchPlace()">Search Place to Add</button>
                <button type="submit" class="btn btn-success" ng-show="disabled" ng-click="addPlace()">Confirm</button>
                <button type="submit" class="btn btn-danger" ng-show="!locationDisplayed || !addressDisplayed || disabled" ng-click="resetAddForm()">Reset</button>
            </form>
        </section>
        <section id="list">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="place in places" ng-click="showPlace(place)">((place.name))</li>
            </ul>
        </section>
        <section id="detail">
            <span class="glyphicon glyphicon-remove-circle cancel" ng-click="closeSection()"></span>
            <div ng-controller="DetailCtrl" ng-model="place">
                <div><h1>((place.name))</h1></div>
                <div>
                    <h3>Description</h3>
                    <p>((place.description))</p>
                </div>
                <div>
                    <h3>Schedules</h3>
                    <p>((place.schedules))</p>
                </div>
                <div>
                    <h3>Capacity</h3>
                    <p>((place.places_number))</p>
                </div>
                <div>
                    <h3>Coffee ?</h3>
                    <p>((place.coffee))</p>
                </div>
                <div>
                    <h3>Internet Access ?</h3>
                    <p>((place.internet_access))</p>
                </div>
                <div>
                    <h4>Added on </h4>
                    <p>((place.submission_date))</p>
                </div>
                <div class="location">
                    <div class="lat">((place.latitude))</div>
                    <div class="lon">((place.longitude))</div>
                </div>
                <form role="form">
                    <div class="form-group">
                        <hr />
                        <label for="commentInput">Comment</label>
                        <input type="text" class="form-control" id="commentInput" placeholder="Enter a comment" ng-model="comment.content">
                    </div>
                    <button type="submit" class="btn btn-success" ng-click="addComment()">Add a comment</button>
                    <button type="submit" class="btn btn-success" ng-click="seeComments()">See all comments</button>
                </form>
            </div>
        </section>
        <section id="comments">
            <div ng-controller="CommentCtrl">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="comment in comments">((comment.content))</li>
                </ul>
            </div>
        </section>
    </div>
</div>

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0c4a5S45UhVlPoWW_rse1BkpUU3f4Q7c&sensor=false">
</script>
<script type="text/javascript">


</script>
</body>
</html>
